 /* Global styles */

 body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    background-color: hwb(0 56% 40%);
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  /* Navigation */

.navbar {
    background-color: #251f1f;
    box-shadow: 0 2px 4px rgba(0,0,0,.1); 
  }
  
  .navbar-brand {
    font-weight: 700; 
  }