 /* Global styles */

 body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    background-color: hwb(0 56% 40%);
  }
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
   